.desktop-7,
.desktop-7 * {
  box-sizing: border-box;
}
.desktop-7 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.rectangle-10 {
  background: #5f29dd;
  width: 1440px;
  height: 51px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-11 {
  background: #ffffff;
  width: 1440px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 28px;
}
.today {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 2px;
  top: 3px;
  overflow: visible;
}
._22-abril-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 5px;
  width: 93px;
  height: 19px;
}
._14-23 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 134px;
  top: 5px;
  width: 93px;
  height: 19px;
}
.schedule {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 110px;
  top: 5px;
  overflow: visible;
}
.issn-2966-425-x {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1314px;
  top: 6px;
  width: 146px;
  height: 28px;
}
.image-1 {
  width: 168px;
  height: 35px;
  position: absolute;
  left: 151px;
  top: 33px;
  object-fit: cover;
  aspect-ratio: 168/35;
}
.image {
  background: radial-gradient(
    closest-side,
    rgba(95, 41, 221, 1) 0%,
    rgba(51, 22, 119, 1) 100%
  );
  width: 1444px;
  height: 370px;
  position: absolute;
  left: -4px;
  top: 74px;
}
.acesse-os-canais-e-publica-es-das-edi-es-anteriores-do-concifa-e-explore-os-trabalhos-apresentados {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 273px;
}
.publica-es-de-trabalhos {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 302px;
  top: 197px;
  width: 837px;
  height: 76px;
}
.p-gina-inicial {
  color: #000000;
  text-align: left;
  font-family: "Baloo2-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 402px;
  top: 37px;
  width: 93px;
  height: 19px;
}
.sobre {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 524px;
  top: 40px;
  width: 47px;
  height: 21px;
}
.programa-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 600px;
  top: 40px;
  width: 97px;
  height: 21px;
}
.submiss-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 720px;
  top: 41px;
  width: 79px;
  height: 19px;
}
.publica-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 826px;
  top: 42px;
  width: 79px;
  height: 19px;
}
.edi-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 932px;
  top: 42px;
  width: 79px;
  height: 19px;
}
.rectangle-14 {
  border-radius: 0px;
  width: 103px;
  height: 28px;
  position: absolute;
  left: 1277px;
  top: 37px;
  overflow: visible;
}
.rectangle-13 {
  border-radius: 0px;
  width: 101px;
  height: 28px;
  position: absolute;
  left: 1232px;
  top: -44px;
  overflow: visible;
}
.cadastra-se {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1287px;
  top: 41px;
  width: 90px;
  height: 19px;
}
.rectangle-2 {
  background: rgba(0, 60, 255, 0.75);
  border-radius: 49px;
  width: 77px;
  height: 28px;
  position: absolute;
  left: 1170px;
  top: 37px;
}
.entrar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1188px;
  top: 42px;
  width: 53px;
  height: 19px;
}
.rectangle-48 {
  background: rgba(217, 217, 217, 0.2);
  width: 168px;
  height: 22px;
  position: absolute;
  left: 636px;
  top: 175px;
}
.publica-es {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 686px;
  top: 178px;
}
.rectangle-49 {
  background: #ffffff;
  border-radius: 69px;
  width: 1154px;
  height: 184px;
  position: absolute;
  left: 141px;
  top: 552px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.pesquisar-publica-es {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 188px;
  top: 396px;
  width: 263px;
  height: 29px;
}
.resultados {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 262px;
  top: 613px;
  width: 263px;
  height: 29px;
}
.rectangle-63 {
  background: #ffffff;
  border-radius: 107px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.35);
  border-width: 1px;
  width: 594px;
  height: 43px;
  position: absolute;
  left: 188px;
  top: 438px;
}
.rectangle-64 {
  background: #ffffff;
  border-radius: 107px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.35);
  border-width: 1px;
  width: 144px;
  height: 43px;
  position: absolute;
  left: 826px;
  top: 438px;
}
.rectangle-65 {
  background: #ffffff;
  border-radius: 107px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.37);
  border-width: 1px;
  width: 144px;
  height: 43px;
  position: absolute;
  left: 1103px;
  top: 438px;
}
.search {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 195px;
  top: 448px;
  overflow: visible;
}
.busca-por-titulo-autor-ou-palavra-chave {
  color: rgba(0, 0, 0, 0.53);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 233px;
  top: 448px;
}
.edi-o2 {
  color: rgba(0, 0, 0, 0.53);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 842px;
  top: 448px;
}
.ordenar-por {
  color: rgba(0, 0, 0, 0.53);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 971px;
  top: 616px;
}
.categoria {
  color: rgba(0, 0, 0, 0.53);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1114px;
  top: 451px;
}
.categoria2 {
  color: rgba(0, 0, 0, 0.14);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1114px;
  top: 451px;
}
.navigate-next {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 962px;
  top: 451px;
  transform: translate(-24px, 0px);
  overflow: visible;
}
.navigate-next2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1243px;
  top: 454px;
  transform: translate(-24px, 0px);
  overflow: visible;
}
.rectangle-66 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  border-width: 1px;
  width: 172px;
  height: 25px;
  position: absolute;
  left: 1105px;
  top: 615px;
}
.mais-recente {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1112px;
  top: 616px;
}
.navigate-next3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1275px;
  top: 619px;
  transform: translate(-24px, 0px);
  overflow: visible;
}
.rectangle-67 {
  background: #ffffff;
  width: 214px;
  height: 337px;
  position: absolute;
  left: 21px;
  top: 673px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.artigo-completo {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 57px;
  top: 932px;
}
.artigo-imcompleto {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 57px;
  top: 954px;
}
.filtros {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 32px;
  top: 687px;
}
.ano {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 32px;
  top: 734px;
}
.tipo-de-publica-o {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 34px;
  top: 901px;
}

.rectangle-68 {
  background: #ffffff;
  border-radius: 46px;
  width: 893px;
  height: 202px;
  position: absolute;
  left: 268px;
  top: 673px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-69 {
  background: #ffffff;
  border-radius: 46px;
  width: 893px;
  height: 202px;
  position: absolute;
  left: 268px;
  top: 906px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/*a partir daqui comeca o stule do index final*/
#resultados-container {
  margin-top: 20px;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}
.card-actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end; /* alinha à direita */
  gap: 10px;

  
}

.card-actions a {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.btn-pdf {
  background-color: #020007;
  color: white;
}

.btn-pdf:hover {
  background-color: #020007;
}

.btn-online {
  background-color: #e0e0e0;
  color: #333;
}

.btn-online:hover {
  background-color: #c0c0c0;
}
.filtro-anos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.filtro-anos label {
  color: #000000; /* preto puro */
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.filtro-anos label {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.filtro-tipo label {
  color: #000000; /* preto forte */
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.filtro-tipo label {
  color: #000000; /* preto forte */
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}



.rectangle-70 {
  background: #ffffff;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.41);
  border-width: 1px;
  width: 99px;
  height: 22px;
  position: absolute;
  left: 871px;
  top: 845px;
}
.rectangle-71 {
  background: #000000;
  width: 99px;
  height: 22px;
  position: absolute;
  left: 995px;
  top: 845px;
}
.language {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 876px;
  top: 848px;
  overflow: visible;
}

#filtroCategoria {
  position: absolute;
  top: 570px;
  left: 1105px;
  width: 172px;
  height: 30px;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 5px;
  padding-left: 10px;
  font-family: 'Inter', sans-serif;
}
